h1 {
  text-align: center;
  font-family: Sora, Arial;
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
p {
  font-family: Sora, Arial;
  color: rgb(46, 46, 46);
}

.main-container h2 {
  margin-bottom: 6px;
}

.main-container h2,
.main-container p {
  text-align: left;
}

.setlist-wizard-container h1 {
  white-space: nowrap;
}

.setlist-wizard-container p {
  text-align: left;
}

.test-page-text h3 {
  color: rgb(197, 197, 197);
  margin-top: 20px;
  margin-left: 15px;
}

.test-page-text p {
  margin-top: 10px;
  color: rgb(197,197,197);
  margin-left: 15px;
  font-size: 14px;
}

ul li p {
  margin-bottom: 0.8rem;
}

@media(max-width: 500px) {
  .license-to-plate-container h1,
  .setlist-wizard-container h1 {
    font-size: 6vw;
    white-space: nowrap;
  }
}